MDK-ARM/Objects/
MDK-ARM/Listings/
MDK-ARM/*/              # Все вложенные папки (например, папка сборки)
**/Objects/
**/Listings/

MDK-ARM/*.crf
MDK-ARM/*.d
MDK-ARM/*.dep
MDK-ARM/*.lnp
MDK-ARM/*.htm
MDK-ARM/*.plg
MDK-ARM/*.tra
MDK-ARM/*.dbgdt
MDK-ARM/build_log.htm

MDK-ARM/*.axf
MDK-ARM/*.hex
MDK-ARM/*.bin
MDK-ARM/*.map

startup_*.lst

MDK-ARM/*.uvgui*
MDK-ARM/*.uvopt*
MDK-ARM/JLinkLog.txt

*.jlink
JLinkSettings.ini

*.mxproject
*.ioc.bak
*.ioc.embed
STM32CubeMX/

Debug/
Release/
*.backup
*.generate_backup
*.log
*.tmp

*~
*.swp
*.swo

.DS_Store
Thumbs.db
desktop.ini

!MDK-ARM/*.uvproj
!MDK-ARM/*.uvprojx