__pycache__/
*.pyc
*.pyo
*.so
*.dll

venv/
env/
.venv/
izba-env/
venv_*/
env_*/
.idea/
.vscode/
*.iml
*.swp
.DS_Store
*.log
*.tmp
*.bak
hand_landmarker.task
*.db
*.sqlite

.env
api_key.txt
password.txt