[Desktop Entry]
Version=1.0
Type=Application
Name=xxx
Comment=xxx
Exec=sh /home/orangepi/Desktop/Server_final/script.sh
Icon=applications-games
Path=/home/orangepi/Desktop/Server_final
Terminal=true
StartupNotify=false
X-GNOME-Autostart-enabled=true
