
MDK-ARM/Objects/
MDK-ARM/Listings/
MDK-ARM/JLinkLog.txt
MDK-ARM/*.uvguix.*
MDK-ARM/*.dep
MDK-ARM/*.crf
MDK-ARM/*.lnp
MDK-ARM/*.htm
MDK-ARM/*.plg
MDK-ARM/*.tra
MDK-ARM/*.dbgdt
MDK-ARM/*.d
MDK-ARM/build_log.htm

*.mxproject
*.ioc.bak

.DS_Store
Thumbs.db
